<div class="content">
  <div class="cover">
    <img src="/assets/image/cover.png" alt="Imagem do Deus Loki da série e filmes da Marvel">
  </div>
  <div class="series-detail">
    <div class="description">
      <p>Em “Loki” da Marvel Studios, o vilão mercurial Loki (Tom Hiddleston) retoma seu papel como o Deus do Mal em uma nova série que ocorre após os eventos de “Vingadores: Endgame”. </p>
    </div>
    <div class="group">
      <div class="duration">
        <img src="/assets/image/clock.png" alt="">
        <span>51 min</span>
      </div>
      <div class="stars">
        <img src="/assets/image/star.svg" alt="" id="icon" fill="none">
        <img src="/assets/image/star.svg" alt="" id="icon" fill="none">
        <img src="/assets/image/star.svg" alt="" id="icon" fill="none">
        <img src="/assets/image/star.svg" alt="" id="icon" fill="none">
        <img src="/assets/image/star.svg" alt="" id="icon" fill="none">

      </div>
      <div class="year">
        <span>2021</span>
      </div>
    </div>
    <div class="buttons">
      <button class="watch-now">Assistir Agora</button>
      <button class="watch-trailer">Ver Trailer</button>
    </div>
  </div>
</div>
