.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover > img{
  width: 8rem;
  height: 10rem;
  border-radius: 10px;
}

.group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description, span{
  color: #fff;
  font-family: Archivo;
  font-size: 15px;
}

#icon {
  fill: #574ae801;
  stroke: #FFA800;
  ;
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

#icon.filled,
#icon:hover {
  fill: #FFA800;
}

.buttons{
  text-transform: capitalize;
  font-family: Archivo;
}
.watch-trailer{
  background-color: rgba(19, 19, 24, 0);
  
}
